    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    section.header {
        background-color: #ffc93a;
        margin-bottom: 30px;
    }
    
    .container {
        margin: 0 auto;
        width: 1100px;
        font-family: 'Rubik', sans-serif;
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
    }
    
    .split-half {
        flex: 1;
        border-bottom: 1px solid gray;
        padding: 15px 0;
    }
    
    .ico::before {
        content: '';
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        display: inline-block;
        transform: translateY(7px);
        padding: 0 8px;
    }
    
    .icoafter::after {
        content: '';
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        display: inline-block;
        transform: translateY(4px);
    }
    
    .icoafter.language::after {
        width: 18px;
        height: 18px;
        background-color: white;
        margin-left: 5px;
    }
    
    .ico.mail::before {
        background-image: url('./img/ico6.png');
    }
    
    .ico.phone::before {
        background-image: url('./img/ico5.png');
        padding-right: 0;
    }
    
    .border {
        border-bottom: 1px solid gray;
        padding: 50px 0;
    }
    
    .box {
        flex-grow: 1;
    }
    
    .split-half .icoafter {
        font-size: 13px;
    }
    
    .icon::before {
        content: '';
        width: 39px;
        height: 33px;
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 10px;
        transform: translateY(10px);
        margin-left: 20px;
    }
    
    .input {
        display: flex;
    }
    
    .searchbar {
        flex-basis: 80%;
        height: 100%;
        border: 1px solid white;
    }
    
    .submitbutton {
        width: 20%;
        height: 100%;
        color: white;
        background-color: black;
        border: 1px solid black;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .icon.account::before {
        background-image: url('./img/intimg1.png');
    }
    
    .icon.trolley::before {
        background-image: url('./img/intimg2.png');
    }
    
    .trolley {
        text-align: right;
    }
    
    .trolley a {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        line-height: 27px;
    }
    
    .category {
        padding: 28px 0;
    }
    
    .list-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ul.list-category li {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    ul.list-category li a.categ {
        text-decoration: none;
        color: black;
    }
    
    .split-half a {
        font-size: 12px;
        color: black;
        text-decoration: none;
        padding: 0 5px;
    }
    
    .split-half:last-child {
        text-align: right;
    }
    
    .left-menu {
        border: 1px solid #ffc93a;
        margin: 0 30px 0 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-height: 454px;
        overflow: scroll;
    }
    
    .main-header {
        display: flex;
        border-bottom: 1px solid gray;
        padding: 12px;
        justify-content: center;
        align-items: center;
    }
    
    .hamburger {
        padding: 9px;
        cursor: pointer;
    }
    
    .hamburger span {
        width: 15px;
        height: 1px;
        background-color: black;
        margin: 3px 0;
        display: block;
    }
    
    .all-category {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 10px;
    }
    
    .list {
        display: inline-block;
    }
    
    ul.list {
        font-size: 15px;
        list-style-type: none;
        width: 100%;
    }
    
    ul.list li {
        display: block;
        padding: 15px;
        border-bottom: 1px solid gray;
    }
    
    ul.list li:last-child {
        border-bottom: none;
    }
    
    ul.list a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
    }
    
    .main-img {
        position: relative;
    }
    
    .text {
        position: absolute;
    }
    
    .main {
        bottom: 200px;
        left: 16px;
        font-weight: 500;
        font-size: 46px;
    }
    
    .medium {
        bottom: 150px;
        left: 16px;
        font-size: 22px;
    }
    
    .btn {
        bottom: 100px;
        left: 16px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 12px;
        padding: 10px 20px;
    }
    
    .square {
        border: 1px solid gray;
        margin-top: 30px;
        margin-bottom: 100px;
        padding-left: 54px;
    }
    
    .icons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
    }
    
    .icons::before {
        content: '';
        height: 41px;
        width: 54px;
        background-repeat: no-repeat;
        position: absolute;
        left: -34%;
        top: -11%;
    }
    
    .icons.img::before {
        background-image: url('./img/car.png');
    }
    
    .block {
        font-size: 13px;
    }
    
    .solid {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    
    .img {
        flex: 1;
        margin: 30px;
    }
    
    @media (max-width: 1280px) {
        .container {
            width: 700px;
        }
    }
    
    @media (max-width: 960px) {}
    
    @media (max-width: 720px) {}
    
    @media (max-width: 520px) {}