* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Rubik', sans-serif;
}

section.header {
    background-color: #ffc93a;
    margin-bottom: 30px;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.flex {
    display: flex;
}

.header__main {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.header__middle {
    border-bottom: 1px solid #e6b534;
}

.header__top {
    border-bottom: 1px solid #e6b534;
}

.header__social {
    margin: 15px 0;
    position: relative;
    line-height: 30px;
}

.header__mail::before {
    background-image: url('./img/ico6.png');
}

.header__phone::before {
    background-image: url('./img/ico5.png');
}

.header__contact {
    margin: 15px 0;
    align-self: center;
    position: relative;
}

.header__language {
    margin-right: 60px;
}

.header__language::after {
    content: '';
    width: 20px;
    height: 20px;
    background-position: right;
    background-color: white;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}

.header__language::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 20px;
    height: 10px;
    display: inline-block;
    top: 10px;
    left: 26%;
    z-index: 1;
    margin-left: 4px;
}

.header__social .ico::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: left bottom;
    transform: translateY(2px);
}

.header__mail {
    margin-right: 30px;
}

.header__search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-top: 55px;
}

.header__form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 60%;
    border: 1px solid white;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
}

.header__button {
    width: 15%;
    text-transform: uppercase;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 1px solid black;
    background-color: black;
    color: white;
    outline: none;
}

.header__logo {
    align-self: center;
}

.header__clients {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.header__clients .ico::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left center;
}

.header__account {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__bin {
    display: flex;
    align-items: center;
}

.header__account.ico::before {
    background-image: url('./img/intimg1.png')
}

.header__bin.ico::before {
    background-image: url('./img/intimg2.png')
}

.header__list-box {
    display: flex;
    justify-content: space-between;
}

.header__category {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__cat {
    margin-right: 40px;
}

.header__cat-last {
    margin-right: 0;
}

.main__product {
    display: flex;
    justify-content: space-between;
}

.main__left {
    flex-basis: 30%;
    border: 2px solid #ffc93a;
    margin-right: 40px;
}

.main__right {
    flex-basis: 70%;
}

.main__top {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e6e6e6;
}

.main__products {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.main__list {
    font-size: 15px;
    text-transform: uppercase;
}

.main__li {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.main__photo {
    min-width: 800px;
    height: 100%;
}

.main__img {
    width: 100%;
    height: 100%;
}

.main__information-box {
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.main__order {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    text-align: center;
    transform: translateX(20px);
}

.main__desc-upper {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.main__desc {
    font-size: 13px;
}

.main__flex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main__information {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main__order .ico::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 50px;
    background-repeat: no-repeat;
}

.main__car::before {
    background-image: url('./img/car.png');
}

.main__return::before {
    background-image: url('./img/zw.png');
}

.main__ssl::before {
    background-image: url('./img/ssl.png');
}

.main__return-money::before {
    background-image: url('./img/zw.png');
}

.footer {
    background-color: #f4f4f4;
}

.footer__top {
    position: relative;
}

.footer__desc {
    align-self: center;
    flex: 1;
}

.footer__desc p {
    font-size: 13px;
}

.footer__newsletter::after {
    content: '';
    display: inline-block;
    width: 1px;
    background-color: #e6e6e6;
    height: 100%;
    position: absolute;
    right: 10%;
    top: 0;
}

.footer__box {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 75px;
}

.footer__form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer__top {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #e6e6e6;
}

.footer__bottom {
    padding: 45px;
}

.footer__newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 26%;
}

.footer__newsletter h6 {
    font-size: 22px;
    font-weight: 500;
}

.footer__newsletter::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 54px;
    background-repeat: no-repeat;
    background-image: url('./img/newsletter.png');
    position: absolute;
    left: 0;
}

.footer__img {
    margin-left: 20px;
}

.footer__logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.footer__logo p {
    text-transform: uppercase;
    font-size: 12px;
}

.footer__input {
    width: 70%;
    border: 1px solid white;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    height: 45px;
    font-size: 15px;
    outline: none;
    padding-left: 15px;
}

.footer__button {
    width: 20%;
    text-transform: uppercase;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 1px solid #ffc93a;
    background-color: #ffc93a;
    color: black;
    font-weight: 500;
    outline: none;
}

.footer__middle {
    display: flex;
}

.footer__information {
    flex: 1;
}

.footer__lists li {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 13px;
}

.footer__information h6 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 50px;
}

.description-product {
    padding-bottom: 76px;
    font-size: 13px;
}

.medium-product:first-child {
    margin-right: 32px;
}

.medium-product:nth-child(2) {
    margin-right: 32px;
}

h5 {
    padding: 25px 0;
    font-size: 18px;
    font-weight: 500;
}

.banners-img {
    flex: 1;
    position: relative;
    min-height: 223px;
    max-height: 223px;
    max-height: 223px;
    min-height: 200px;
}

.banner__box {
    display: flex;
    justify-content: space-between;
}

.banners__photo {
    flex-basis: 49%;
    width: 100%;
    height: 100%;
}

.banner__img {
    width: 100%;
    height: 100%;
}

.banners-img:first-child {
    margin-right: 33px;
}

.heading {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding: 42px 0;
    overflow: hidden;
}

.heading>span {
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}

.heading>span:after,
.heading>span:before {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #ececec;
    position: absolute;
    top: 50%;
}

.heading>span::after {
    right: 100%;
}

.heading>span:before {
    left: 100%;
}

span.besttext {
    border: 1px solid #ececec;
    padding: 5px 10px;
}

.best-icon {
    padding: 20px 10px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
}

.product {
    padding-bottom: 48px;
    min-height: 150px;
    flex: 1;
}

.products-img {
    max-width: 100%;
    padding-top: 100%;
    align-self: center;
    position: relative;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.product-description {
    padding: 28px;
    font-size: 13px;
    text-align: center;
}

.price {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.producers {
    border: 1px solid #e6e6e6;
    padding: 56px 76px;
    position: relative;
    justify-content: space-between;
}

.medium-product-img {
    min-height: 245px;
    max-height: 245px;
}

.arrows {
    width: 15px;
    height: 15px;
    border-color: #545252;
    position: absolute;
    top: 65%;
    margin-top: -31px;
}

.prev {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: -32px;
}

.next {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-135deg);
    right: -32px;
}

.hamburger.menu {
    display: none;
}

.menu-mobile {
    visibility: hidden;
    display: none;
}

.menu-mobile li {
    list-style-type: none;
    padding: 10px;
}

.menu-mobile li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

ul.menu-mobile.open {
    visibility: visible;
    display: block;
}

.hamburger.all-category-menu {
    display: inline-block;
}

.mobile-all-category {
    display: inline-block;
}

.mobile.trolley.box {
    display: none;
}

@media (max-width: 1280px) {}

@media (max-width: 960px) {}

@media (max-width: 720px) {}

@media (max-width: 520px) {}