* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Rubik', sans-serif;
}
.mobile {
    box-shadow: 4px 4px 18px -6px rgba(0,0,0,0.75);
    padding: 15px;
    background-color: white;
    position: absolute; 
    top: 0px;
    left: 0;
    right: 0; 
    margin-bottom: -40px;
    visibility: hidden;
    transition: .3s linear;

}

.mobile__show {
   visibility: visible;
}
.header {
    background-color: #ffc93a;
    margin-bottom: 30px;
}

.mobile__text {
    margin-bottom: 10px;
}

.mobile__input {
    border: 1px solid #ffc93a;
    width: 60%;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    height: 30px;
}

.mobile__button {
    width: 15%;
    text-transform: uppercase;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 1px solid black;
    background-color: black;
    color: white;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    height: 30px;
}

.container {
    margin: 0 auto;
    width: 1100px;
}


.header__main {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.header__middle {
    border-bottom: 1px solid #e6b534;
}

.header__top {
    border-bottom: 1px solid #e6b534;
}

.header__social {
    margin: 15px 0;
    position: relative;
    line-height: 30px;
}

.header__mail::before {
    background-image: url('./img/ico6.png');
}

.header__phone::before {
    background-image: url('./img/ico5.png');
}

.header__contact {
    margin: 15px 0;
    align-self: center;
    position: relative;
}

.header__language {
    margin-right: 60px;
}

.header__language::after, 
.header__language::before {
    transform: translateY(-3px);
}

.header__language::after {
    content: '';
    width: 20px;
    height: 20px;
    background-position: right;
    background-color: white;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}

.header__language::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 20px;
    height: 10px;
    display: inline-block;
    top: 10px;
    left: 26%;
    z-index: 1;
    margin-left: 4px;
}

.header__social .ico::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: left bottom;
    transform: translateY(2px);
}

.header__mail {
    margin-right: 30px;
}

.header__search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-top: 55px;
}

.header__form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 60%;
    border: 1px solid white;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
}

.header__button {
    width: 15%;
    text-transform: uppercase;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 1px solid black;
    background-color: black;
    color: white;
    outline: none;
    font-weight: 500;
    font-size: 13px;
}

.header__logo {
    align-self: center;
}

.header__clients {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.header__clients .ico::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left center;
}

.header__account {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__bin {
    display: flex;
    align-items: center;
}

.header__account.ico::before {
    background-image: url('./img/intimg1.png')
}

.header__bin.ico::before {
    background-image: url('./img/intimg2.png')
}

.header__list-box {
    display: flex;
    justify-content: space-between;
}

.header__category {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__cat {
    margin-right: 40px;
}

.header__cat-last {
    margin-right: 0;
}

.main__product {
    display: flex;
    justify-content: space-between;
}

.main__left {
    flex-basis: 30%;
    border: 2px solid #ffc93a;
    margin-right: 40px;
}

.main__right {
    flex-basis: calc(70% - 30px);
    overflow: hidden;
}

.owl-stage-outer {
    height: 100%;
}

.owl-carousel .owl-stage {
    height: 100%;
}

.owl-carousel.owl-drag .owl-item {
    height: 100%;
}

.item {
    height: 100%;
}

.main__img {
    height: 100%;
}

.main__container {
    width: 100%;
    height: 100%;
}

.item {
    position: relative;
}

.main__img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.item {
    max-width: 100%;
    max-height: 100%;
}

.main__top {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e6e6e6;
}

.main__products {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.main__list {
    font-size: 15px;
    text-transform: uppercase;
}

.main__li {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.main__photo {
    min-width: 800px;
    height: 100%;
}

.main__slider {
    min-width: 800px;
    height: 100%;
}

.main__information-box {
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.main__order {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    text-align: center;
    transform: translateX(20px);
}

.main__desc-upper {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.main__desc {
    font-size: 13px;
}

.main__flex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main__information {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main__order .ico::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 50px;
    background-repeat: no-repeat;
}

.main__car::before {
    background-image: url('./img/car.png');
}

.main__return::before {
    background-image: url('./img/zw.png');
}

.main__ssl::before {
    background-image: url('./img/ssl.png');
}

.main__return-money::before {
    background-image: url('./img/zw.png');
}



.products__header  {
    padding: 25px 0;
    font-size: 18px;
    font-weight: 500;
}


.banner__margin {
    margin-top: 60px;

}

.banner__box {
    display: flex;
    justify-content: space-between;
}

.banners__photo {
    flex-basis: calc(50% - 10px);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.banner__img {
    max-width: 100%;
    min-height: 100%;
}



.heading__text {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding: 42px 0;
    overflow: hidden;
}

.heading__best {
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}



.heading__best:after,
.heading__best:before {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    top: 50%;
}

.heading__best::after {
    right: 100%;
}

.heading__best:before {
    left: 100%;
}


.products {
    margin-bottom: 50px;
}
.products__product {
    width: 100%;
    margin-right: 35px;
}

.products__photo {
    width: 100%;
    margin-bottom: 30px;
}

.products__img {
    display: inline-block;
    max-width: 100%;
}

.products__box {
    display: flex;
}

.products__data {
    font-size: 12px;
}

.products__header h5 {
    font-size: 18px;
    font-weight: 500;
}

.products__desc {
    font-size: 13px;
}


.products__product:last-child {
margin-right: 0;
}

.smallProducts--margin {
    margin-bottom: 30px;
}

.smallProducts__box {
    display: flex;
}

.smallProducts__product {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.smallProduct__recommended {
    margin-bottom: 20px;
}

.smallProduct__text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    padding: 3px 7px;
    border: 1px solid #e6e6e6;
}

.smallProducts__photo {
    width: 100%;
    min-height: 170px;
    max-height: 170px;
    position: relative;
}
.smallProducts__img {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallProducts__desc {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smallProducts__price {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.producers__box {
    display: flex;
    border: 1px solid #e6e6e6;
    justify-content: space-around;
}

.producers__photo {
    padding: 25px 35px;
}

.footer {
    background-color: #f4f4f4;
}

.footer__top {
    position: relative;
}

.footer__desc {
    align-self: center;
    flex: 1;
}

.footer__desc p {
    font-size: 13px;
}

.footer__newsletter::after {
    content: '';
    display: inline-block;
    width: 1px;
    background-color: #e6e6e6;
    height: 100%;
    position: absolute;
    right: 10%;
    top: 0;
}

.footer__box {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 75px;
}

.footer__form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer__top {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #e6e6e6;
}

.footer__bottom {
    padding: 45px;
}

.footer__newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 26%;
}

.footer__newsletter h6 {
    font-size: 22px;
    font-weight: 500;
}

.footer__newsletter::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 54px;
    background-repeat: no-repeat;
    background-image: url('./img/newsletter.png');
    position: absolute;
    left: 0;
}

.footer__img {
    margin-left: 20px;
}

.footer__logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.footer__logo p {
    text-transform: uppercase;
    font-size: 12px;
}

.footer__input {
    width: 70%;
    border: 1px solid white;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    height: 45px;
    font-size: 15px;
    outline: none;
    padding-left: 15px;
}

.footer__button {
    width: 20%;
    text-transform: uppercase;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 1px solid #ffc93a;
    background-color: #ffc93a;
    color: black;
    font-weight: 500;
    outline: none;
    font-size: 13px;
}

.footer__middle {
    display: flex;
}

.footer__information {
    flex: 1;
}

.footer__lists li {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 13px;
}

.footer__social a{
    margin-top: 20px;
    font-size: 25px;
}

.footer__ico {
    padding: 0 8px 0 0;
}

.footer__ico--fb {
    color: #3f5a9e;
}

.footer__ico--yt {
    color:#ff0000
}


.footer__list.ico::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 32px;
    height: 20px;
    transform: translateY(7px);
}

.footer__list--phone::before {
    background-image: url('./img/ico5.png');
}

.footer__list--mail::before {
    background-image: url('./img/ico6.png');
}

.footer__information h6 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 50px;
}

@media (max-width: 1280px) {
    .container {
        width: 850px;
    }

    .header__category {
        font-size: 14px;
    }

    .header__button {
        width: 20%;
    }
    .header__input {
        width: 70%;
    }

    .header__clients .ico::before {
        width: 42px;
    }

    .smallProducts__box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .smallProducts__product {
        flex-basis: 30%;
    }

    .main__order .ico::before {
        transform: translateX(-15px);
    }
    .footer__newsletter h6 {
        margin-left: 30px;
    }

    .footer__button {
        width: 25%;
    }

    .footer__input {
        width: 75%;
    }

    .mobile__search {
        display: none;
    }

    .headerMobile__box {
        display: none;
    }
}


@media (max-width: 960px) {
    .container {
        width: 680px;
    }

    .header__cat {
        margin-right: 15px;
    }
    .header__category {
        font-size: 13px;
    }

    .header__clients {
        font-size: 0;
    }

    .header__account {
        margin-right: 0;
    }

    .header__mail {
        margin-right: 10px;
    }

    .header__button {
        font-size: 12px;
    }

    .main__product {
        height: 300px;
    }

    .main__products {
        font-size: 14px;
    }

    .main__list {
        font-size: 13px;
    }

    .main__left {
        overflow: scroll;
    }

    .main__top {
        padding: 20px 0;
    }

    .main__information-box {
       display: none

    }

    .smallProducts__desc {
        margin-bottom: 40px;
    }

    .header__social {
        font-size: 0;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__newsletter {
        margin-bottom: 15px;
    }

    .footer__desc {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .footer__middle {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer__information {
        flex-basis: 45%;
    }

    .footer__input {
        width: 60%;
    }

    .footer__button {
        width: 20%;
    }


    .footer__newsletter::before {
        top:-20px;
        left: 32%;

    }

    .headerMobile__box {
        display: none;
    }
    .mobile__search {
        display: none;
    }
   
}

@media (max-width: 720px) {
    .container {
        width: 520px;
    }

    .header__list-box {
        display: none;
    }

    .producers__photo--hide {
        display: none
    }

  
    .header__main {
        margin-top: 90px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header__search {
        flex-wrap: wrap;
        margin: 20px 0;
    }

    .header__contact {
        display: none;
    }

    .header__form {
      display: none;
    }

    .header__clients {
        order: -1;
    }

    .header__logo {
        order: -1;
    }
    .banner__box {
        flex-wrap: wrap;
        justify-content: center;

    }

    .banners__photo {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .smallProducts__product {
        flex-basis: 46%;
        display: flex;
        justify-content: center;
    }

    .products__box {
        flex-wrap: wrap;
        justify-content: flex-start
    }
    .products {
        margin-bottom: 0;
    }


    .products__product {
        flex-basis: 44%;
        margin-bottom: 25px;
    }


    .headerMobile__hamburg {
        display: inline-block;
        align-self: center;
    }
    .headerMobile__search {
        margin-right: 20px;
        margin-left: 20px;
        display: inline-block;
        align-self: center;
        color: #666666;
    }

    .header__clients .ico::before {
        background-size: 27px;
    }

    .headerMobile__box {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #666666;
        cursor: pointer;
    }

    .main__left {
        display: none;
    }


}

@media (max-width: 520px) {}